name: kpss_notlar
description: KPSS Not Uygulamasi
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # İŞTE BU EKSİK OLABİLİR, BUNSUZ ÇALIŞMAZ:
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  flutter_launcher_icons: "^0.13.1"

flutter:
  uses-material-design: true

# İkon ayarları (Eğer icon.png yüklemediysen bu alt kısmı sil)
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "icon.png"
  min_sdk_android: 21
