name: KPSS APK Yapici

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Java Kurulumu
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Flutter Kurulumu
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'

      # BURASI KRİTİK NOKTA: Proje ismini kpss_notlar yaptik
      - name: Proje Dosyalarini Olustur
        run: flutter create . --project-name=kpss_notlar

      - name: Paketleri Getir
        run: flutter pub get

      - name: APK Derle
        run: flutter build apk --release --no-tree-shake-icons

      - name: APK'yi Yukle
        uses: actions/upload-artifact@v4
        with:
          name: kpss-notlar-apk
          path: build/app/outputs/flutter-apk/app-release.apk
